<div style="width:30%;margin: 40 auto;">
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon> 
    
    </button>
    <span class="spacer"></span>
    <span>Employee Management</span>
  </mat-toolbar>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateTo('home')">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>



    <button mat-menu-item (click)="navigateTo('department')">
      <mat-icon>business</mat-icon>
      <span>Department</span>
    </button>

  </mat-menu>
</div>
<div style="width:70%;margin: 40px auto;">
  <router-outlet></router-outlet>  
</div>



